@model ArticleListingViewModel

@{
    ViewData["Title"] = "Movie Reviews";
}

<div class="jumbotron home-jumbotron">
    <h2 class="text-center">New <span style="color:green">Movie</span> <span style="color:red">Reviews</span></h2>
</div>

<div class="row">
    <form asp-area="" asp-controller="Home" asp-action="Search">
        <div class="col-md-1 pull-right">
            <button type="submit" class="btn btn-edited pull-right"><span class="glyphicon glyphicon-search"></span> Search</button>
        </div>
        <div class="col-md-4 pull-right">
            <input required asp-for="SearchText" class="form-control" placeholder="Search..." />
        </div>
    </form>
</div>
<br />

<div class="row article-listing">

    @foreach (var article in Model.Articles)
    {
    <div class="col-sm-4 thumbnail home-thumbnail custom-card">
        <div class="card text-center">
            <div class="card-block">
                <h3 class="card-title">@article.Title</h3>
                <div class="card-text-center">
                    <img src="@article.ThumbnailUrl" class="img-responsive img-fluid img-center" />
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><b>Release Date:</b> @article.PublishDate.ToShortDateString()</li>
                        <li class="list-group-item"><b>Author:</b> @article.Author</li>
                    </ul>
                    <div class="card-footer">
                        <a class="btn btn-edited" asp-controller="Articles" asp-action="Details" asp-route-id="@article.Id">Details</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    }
</div>
@if (Model.TotalArticles > Model.Articles.Count())
{
    <ul class="pagination">
        <li class="page-item "><a class="page-link btn" asp-route-page="@Model.PreviousPage">Previous</a></li>
        @for (int i = 1; i <= Model.TotalPages; i++)
        {
            <li class="page-item @(Model.CurrentPage == i ? "active" : string.Empty) "><a class="page-link btn" asp-route-page="@i">@i</a></li>
        }
        <li class="page-item"><a class="page-link btn" asp-route-page="@Model.NextPage">Next</a></li>
    </ul>
}